import { useStyles } from './styles'

const {{pascalCase name}} = () => {
  const { classes } = useStyles()

  return (
    <div className={classes.root}>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}

export default {{pascalCase name}}
